---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Toutes les étapes pour atteindre les sommets. Un accompagnement dans ton quotidien.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Ton accompagnement individualisé"
      description={description}
    />
    <Accordion />
  </div>
</Section>