---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook.svg";
import Instagram from "../../assets/instagram.svg";
import Logo from "../../assets/logo.png";
import Twitter from "../../assets/twitter.svg";
import ShortForm from "../ui/ShortForm.astro";
import c5 from "../../assets/pics/card-pic5.png";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://www.facebook.com/profile.php?id=61584366373531" },
  { name: "Instagram", src: Instagram, link: "https://www.instagram.com/trailthelimit/" },
];

const links = [];
---

<section>
  <div class="w-full mx-auto bg-white ">
    <div
      class="px-[15px] text-black py-[55px] lg:px-[60px] w-full max-w-[1280px] mx-auto"
    >
        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <picture
          >
            <Image
              src={c5}
              class="rounded-[45px]"
              alt="David FLAUGÈRE Coach Sportif"
            />
          </picture>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

  </div>
</section>
