<div
  class="px-10 py-14 rounded-[14px] gap-5 h-full text-center"
  id="quiz"
>
  <h3 class="text-orange uppercase text-lg">Quel traileur.euse es-tu ?</h3>
  <br />
  En construction ! Rendez-vous bientôt pour découvrir notre quiz et découvrir quel traileur.euse tu es !
</div>
