---
const { sectionTitle, description } = Astro.props;
---

<div class="gap-10 mb-20 sm:flex-row">
  <h2 class="text-center text-3xl sm:text-4xl">{sectionTitle} 🤯</h2>
    <p class="w-full text-center mt-2">
    {description}
  </p>
</div>
