---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";


const { index, titleTop, titleBottom, img, alt, link } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class=`h-[200px] w-full sm:h-full lg:gap-[60px] p-8 sm:p-[50px] rounded-[45px]`
  >
    <h3 class=`flex flex-col col-span-2 lg:col-span-1`>
      <span class=`w-[fit-content] text-lg`
        >{titleTop}</span
      >
      <span class=`mt-2 w-[fit-content]`
        >{titleBottom}</span
      >
    </h3>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
