---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";


const { index, titleTop, titleBottom, img, alt, link, emoji } = Astro.props;
---

<Card isUnderline={true}>
      <h3 class=`flex flex-col col-span-2 lg:col-span-1`>
        <div class=`uppercase text-3xl text-center`
          >{emoji}</div
        >
        <div class=`text-lg uppercase text-center`
          >{titleTop}</div
        >
        <span class=`mt-2 w-[fit-content]`
          >{titleBottom}</span
        >
      </h3>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
