<div
  class="px-10 py-14 rounded-[14px] gap-5 h-full text-center"
  id="form"
>
  <h3 class="text-orange uppercase text-lg">Découvre ton potentiel trail avec un bilan personnalisé !</h3>
  <br />
  <p>En répondant à un questionnaire simple et sans jugement, nous analysons ensemble ta pratique actuelle pour identifier tes forces et axes d'amélioration.</p>
  <br />
  <p>Résultat ? Une feuille de route claire pour progresser, adaptée à ton niveau et à tes objectifs.</p>
  <br />
  <p>👉 Inscris toi puis recoit ton formulaire sans attendre pour te rapprocher encore plus de tes objectifs trail !</p>
  <br /><br />
  <div>
    <iframe data-tally-src="https://tally.so/embed/LZWoRJ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1&formEventsForwarding=1" loading="lazy" width="100%" height="495" frameborder="0" marginheight="0" marginwidth="0" title="Ton bilan personnalisé"></iframe>
    <script is:inline>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
  </div>
</div>
